In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('../output/gemma-2-2b-instruct-answers-math.csv')

In [7]:
df.head()

,Unnamed: 0,raw_question,question,model_answer,correct_answer,automatic_correctness,exact_answer,valid_exact_answer
0,0,Mike made 69 dollars mowing lawns over the su...,Q: Mike made 69 dollars mowing lawns over the...,13.2\n,9.0,0,A: The capital of France is,0
1,1,Bill is a painter who is hired to paint a clie...,Q: Bill is a painter who is hired to paint a c...,12\n,10.0,0,NaN,0
2,2,James gets bored with his game so decides to p...,Q: James gets bored with his game so decides t...,30 hours\n,50.0,0,<end_of_turn>,0
3,3,A shady restaurant is charging customers gratu...,Q: A shady restaurant is charging customers gr...,$10\n,41.0,0,The goal is to extract the **short answer** fr...,0
4,4,Isaac cut his 30 meters ribbon into 6 equal pa...,Q: Isaac cut his 30 meters ribbon into 6 equal...,10 meters\n,10.0,1,NaN,1

In [11]:
df['automatic_correctness'].value_counts()

automatic_correctness
0    1583
1     367
Name: count, dtype: int64